:root {
    --clr-black: #000000;
    --clr-gray: #d9d9d9;
    --clr-white: #ffffff;
    --clr-dark-blue: #004e99;
    --clr-dark-blue-80: rgba(0, 78, 153, 0.8);
    --clr-light-blue: #44a0ea;
    --clr-light-blue-80: rgba(68, 160, 234, 0.8);
    --clr-blue: #269bfb;
    --clr-red: #ff3f5b;
    --clr-light-red: #ffdddd;
    --clr-green: #039900;
}
