:root{
    --clr-black      : #000000;
    --clr-gray       : #D9D9D9;
    --clr-white      : #FFFFFF;
    --clr-dark-blue  : #004E99;
    --clr-light-blue : #44A0EA;
    --clr-blue       : #269BFB;
}