.step {
    background-color: lightpink ;
    width: 100%;
    /* min-height: 15%; */
    display: grid;
    grid-template-columns: 2% 10% 78% 10%;
    border-bottom: 3px solid gold;
}

.step__checkbox {
    width: 1rem;
    display: grid;
    place-content: center;
    margin-left: .5rem;
}

.step__index {
    display: grid;
    place-content: center;
    border-right: black 1px solid;
}

.step__content {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 30%;
    column-gap: 5%;
    
}

.step__length, .step__direction {
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center;
}

.step__length > input{
    width: 100%;
    height: 100%;
    font-size: 1.9rem;
    
}

.step__direction > select {
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 1rem;
}

.step > button {
    display: grid;
    place-content: center;
    border-left: black 1px solid;
}