.menuComp {
    background-color: var(--LightYellow);
    width: 800px;
    border: 2px solid;
    padding: 6px;
  
    position: relative;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  