:root {
  --clr-light-pink: rgb(247, 213, 247);
  --clr-light-gray: rgb(228, 223, 223);
  --clr-light-white: rgb(245, 243, 243);
  --clr-light-yellow: antiquewhite;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--clr-light-gray);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

button:hover {
  background-color: var(--clr-light-white);
}
